<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @student %>

    <%= link_to 'Editar', edit_student_path(@student), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Eliminar', student_path(@student), method: :delete, class: "mt-2 rounded-lg py-3 px-5 border border-red-500 text-red-500 hover:text-white hover:bg-red-500 inline-block font-medium" %>
    </div>
    <%= link_to 'Volver', students_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
