<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editar Tutor</h1>

  <%= render "form", student_guardian: [@student_guardian.student, @student_guardian] %>

  <%= link_to "Mostrar", student_student_guardians_path(@student_guardian), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Volver", student_path(@student_guardian.student), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
